# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# VS Code settings
.vscode/

# setuptools metadata created during editable installs (pip install -e .)
# Not part of the source code and should be ignored
*.egg-info/
